<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miro Board </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Miro Board</h1>
            <div class="buttons">
                <a href="/create_board"><button>Create New Board</button></a>
                <button onclick="viewMyBoards()">My Boards</button>
                <button onclick="signIn()">Sign In</button>
            </div>
        </div>
    </header>
    <main>
        <!-- Main content of your website goes here -->
    </main>
    <footer>
        <p>&copy; 2024 Miro Board Site. All rights reserved.</p>
    </footer>

    <script>
        function createNewBoard() {
            // Logic to handle creating a new board
            console.log("Create New Board button clicked");
        }

        function viewMyBoards() {
            // Logic to handle viewing user's boards
            console.log("My Boards button clicked");
        }

        function signIn() {
            // Logic to handle signing in
            console.log("Sign In button clicked");
        }
    </script>
</body>
</html>
